<template>
  <div>
    <div>
      <h1><span v-html="question"></span></h1>
    </div>
  </div>
</template>

<script>

export default {
  name: "Question",
  props: ['question'],
  data() {
    return {
      questions: [],
    }
  },
}
</script>

<style scoped>

</style>