<template>
  <div>
    <div class="answers">
      <div v-for="answer in answers" :key="answer.index">
        <b-button class="answ-buttons" @click="answerClicked(answer)" variant="info"><span v-html="answer"></span></b-button>
      </div>

    </div>
  </div>
</template>

<script>
import{store} from "@/store";
export default {
  name: "Answers",
  props: ['answers'],
  data() {
    return {
      sharedState: store.state,
    }
  },
  methods: {
    //Method that runs when one of the answer buttons are clicked.
    answerClicked(answer) {
      store.setAnswers(answer)

      //Checks if it remains any more questions to be answered
      if (this.sharedState.index === this.sharedState.questions.length -1){
        this.$router.push({
          name: 'summary'
        })
      }
      //increments the store index so next question gets rendered.
      store.setIndex(this.sharedState.index+1)
    }
  }
}
</script>

<style scoped>
  .answers{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    justify-content: space-evenly;
    border-radius: 8px;
    width: 60%;
    margin: auto;
    background-color: #DDDDDD;
  }
  .answ-buttons{
    margin: 1.5rem auto;
    display: block;
    width: 80%;
    justify-content: center;
  }
  @media (max-width: 670px) {
    .answ-buttons{
      margin: .75rem auto;
    }
  }
  @media (max-width: 480px) {
    .answ-buttons{
      margin: .6rem auto;
    }
  }
</style>
