<template>
  <div>
    <div>
      <img src="../assets/trivia.jpg">
    </div>
    <div class="title">
      <h1>Welcome to this trivia!</h1>
      <h5>Select your choices underneath and start the game!</h5>
    </div>
    <div class="options">
      <b-form-select v-model="selectedCategory" :options="categories">
        <template #first>
          <b-form-select-option :value="null" disabled>Category</b-form-select-option>
        </template>
      </b-form-select>
      <b-form-select v-model="selectedDifficulty" :options="difficulties">
        <template #first>
          <b-form-select-option :value="null" disabled>Difficulty</b-form-select-option>
        </template>
      </b-form-select>
      <b-form-select v-model="selectedNumOfQuestions" :options="numOfQuestions">
        <template #first>
          <b-form-select-option :value="null" disabled>Num of questions</b-form-select-option>
        </template>
      </b-form-select>
    </div>
    <div class="start">
      <b-button variant="success" @click="handleAllChoosed">Start game</b-button>
    </div>
  </div>
</template>

<script>
import {store} from "@/store";

/*
* This component is handling what should be displayed on the main site.
* This component gives the user the opportunity to choose category, difficulty and number of questions
*/

export default {
  name: "HomeScreen",
  data() {
    return {
      error: '',
      sharedState: store.state,
      categories: {9: 'General knowledge', 11: 'Film', 12: 'Music', 21: 'Sports', 22: 'Geography', 23: 'History', 26: 'Celebrities'},
      selectedCategory: null,
      difficulties: ['Easy', 'Medium', 'Hard'],
      selectedDifficulty: null,
      numOfQuestions: [5, 10, 15, 20, 25, 30],
      selectedNumOfQuestions: null,
    }
  },
  methods: {
    //Stores the selected category
    handleCategoryChoosed(){
      store.setCategory(this.selectedCategory)
    },
    //Stores the selected difficulty
    handleDifficultyChoosed(){
      store.setDifficulty(this.selectedDifficulty.toLowerCase())
    },
    //Stores the selected number of questions
    handleNumOfQuestionsChoosed(){
      store.setNumOfQuestions(this.selectedNumOfQuestions)
    },
    //Check if all options is selected. If it is, you get routed to the question site. If not you get an alert
    handleAllChoosed(){
      if (this.selectedCategory === null || this.selectedDifficulty === null || this.selectedNumOfQuestions === null){
        alert("You have to choose category, difficulty and number of questions!")
      } else {
        this.handleCategoryChoosed()
        this.handleDifficultyChoosed()
        this.handleNumOfQuestionsChoosed()
        this.$router.push({
          name: 'questionSite'
        })
      }
    }
  }
}
</script>

<style scoped>
  .title{
    margin: auto;
    width: 50%;
    border: 1px solid gray;
    border-radius: 8px;
  }
  .options{
    display: flex;
    width: 60%;
    margin: 3rem auto;
    justify-content: space-between;
  }
  .start{
    margin-top: 60px;
  }
</style>