<template>
  <div>
    <div v-if="sharedState.questions.length > 0">
      <div class="question">
        <Question :question= "currentQuestion"/>
      </div>
      <div class="answers">
        <Answers :answers="currentAlternatives"/>
      </div>
      <div>
        <router-link to="/">
          <b-button variant="danger" @click="clearArray">Exit quiz</b-button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import {store} from "@/store";
import Question from "@/components/Questions/Question";
import Answers from "@/components/Answers/Answers";

/*
* This component takes in the question component and the answer component and displays one and one question
* with its alternatives. This component handles the update of a new question when an answer is selected
*/
export default {
  name: "QuestionSite",
  components: {Answers, Question},
  //Gets the questions when entered the component
  created() {
    store.getQuestions().catch(error => {
      this.error = error;
    })
  },
  computed: {
    //Takes in the question based on its index
      currentQuestion(){
        return this.sharedState.questions[this.sharedState.index].question
      },
    //Takes in the alternatives based on the index of the question
      currentAlternatives(){
        let alternatives = this.sharedState.questions[this.sharedState.index].incorrect_answers;
        alternatives.push(this.sharedState.questions[this.sharedState.index].correct_answer)
        this.randomizeAnswers(alternatives)
        return alternatives
      },
  },
  data() {
    return {
      sharedState: store.state,
      error: ''
    }
  },
  methods: {
    //Randomize the alternatives, so that the right alternative is not shown on the same place every time
    randomizeAnswers(answerArray){
      for(let i = answerArray.length -1; i > 0; i--)
      {
        let j = Math.floor(Math.random() * (i + 1));
        let temp = answerArray[i];
        answerArray[i] = answerArray[j]
        answerArray[j] = temp;
      }

    },
    //Clear the store if exit button is pressed
    clearArray(){
      store.reset()
    }
  }
}
</script>

<style scoped>
.question{
  border-bottom: 1px solid black;
  width: 90%;
  margin: 0 auto;
}
.answers{
  margin: 3rem auto;
}
</style>