<template>
  <div>
    <h2>Summary</h2>
    <h4> Your score: {{this.score}} / {{this.maxScore}}</h4>
    <b-table striped hover :items="summaryTable" :tbody-tr-class="rowClass">
      <template #cell(question)="data">
        <span v-html="data.value"></span>
      </template>
    </b-table>
    <router-link to="/">
      <b-button variant="warning" @click="clearArray">Start a new quiz</b-button>
    </router-link>
  </div>
</template>
<script>
import {store} from "@/store";
export default {
  name: "Summary",
  created() {
    this.populateSummary()
    this.calculateScore()
  },
  data() {
    return {
      sharedState: store.state,
      userAnswers: store.state.answers,
      summaryTable: [],
      questions: [],
      correctAnswers: [],
      score: 0,
      maxScore: 0
    }
  },
  methods: {
    //Format data and sets summaryTable to the result. <b-table> renders the list after the data received(keys as headers, value as data). In this case we get an array with objects with key and value.
    populateSummary(){
      store.state.questions.forEach(questionElement =>{
        //Push question to question array
        this.questions.push(questionElement.question)
        //Push correct answer to correctAnswers array
        this.correctAnswers.push(questionElement.correct_answer)
      })

      //Loops and creates the objects and then pushes each object to the array
      for (let i= 0; i < this.questions.length; i++){
        let object = {
          'number' : i+1,
          'question': this.questions[i],
          'answered': this.userAnswers[i],
          'correct_answer' : this.correctAnswers[i]
        }
        this.summaryTable.push(object)
      }
    },
    //Calculates the score based on how many questions was selected.
    calculateScore(){
      this.maxScore = this.questions.length * 10;
      for (let i= 0; i < this.questions.length; i++){
        if (this.userAnswers[i] === this.correctAnswers[i]){
          this.score += 10
        }
      }
    },
    //Marks rows as red or green depending on if the question was answered correctly.
    rowClass(item, type){
      if (!item || type !== 'row') return
      if (item.answered === item.correct_answer){
        return 'table-success'
      } else {
        return 'table-danger'
      }
    },
    //Resets the store to initial state and clears summaryTable.
    clearArray(){
      store.reset()
      this.summaryTable = []
    }
  }
}
</script>
<style scoped>
</style>